{% extends "layout.html" %}
{% block content %}
<div class="column is-4 is-offset-4">
  <h3 class="title">Quiz Dashboard</h3>
  <div class="box">
    <div class="field">
      <a href = '/addcourse'>
        <button class="button is-block is-info is-large is-fullwidth">Add Quiz</button>
      </a>
    </div>
    <div class="field">
      <a href = '/editcourse'>
        <button class="button is-block is-info is-large is-fullwidth">Update Quiz</button>
      </a>
    </div>
    <div class="field">
      <a href = '/delcourse'>
        <button class="button is-block is-info is-large is-fullwidth">Delete Quiz</button>
      </a>
    </div>
    </div>
    <a href = '/teacherdashboard'>
        <h1 style="color:black;"> Back to Dashboard</h1>
    </a> 
</div>
{% endblock %}